.einText {
  color: green;
}

button {
  border: 1px solid #000;
  padding: 6px 10px;
  background: black;
  color: white;
  cursor: pointer;
}

section {
  padding: 20px 0;
  border-bottom: 1px solid gray;
}
